<% if (isFacebook) { %>export * from "./facebookIdentityProvider";<% } %>
<% if (isGoogle) { %>export * from "./googleIdentityProvider";<% } %>
<% if (isApple) { %>export * from "./appleIdentityProvider";<% } %>
