import React from "react";

import { Logo } from "@layouts/Logo/Logo";

import { AppBar, Toolbar } from "@mui/material";

export const TopAppBar: React.VFC = () => {
  return (
    <AppBar position="static">
      <Toolbar>
        <Logo />
      </Toolbar>
    </AppBar>
  );
};

