import { AppBar, Toolbar } from "@mui/material";
import { VFC } from "react";

import { Logo } from "@layouts/Logo/Logo";

export const TopAppBar: VFC = () => {
  return (
    <AppBar position="static">
      <Toolbar>
        <Logo />
      </Toolbar>
    </AppBar>
  );
};

