
# Outputs
/**/*.js
/**/*.js.map
/**/*.d.ts
coverage

# IDEs
.idea/
jsconfig.json
.vscode/

# Misc
coverage/
node_modules/
npm-debug.log*
yarn-error.log*
yarn.lock

# Mac OSX Finder files.
**/.DS_Store
.DS_Store

# Configs
!jest.config.js
