{
  "compilerOptions": {
    "baseUrl": ".",
    "paths": {
      "@features/*": ["./src/features/*"],
      "@layouts/*": ["./src/layouts/*"],
      "@routing/*": ["./src/routing/*"],
      "@themes/*": ["./src/themes/*"]
    }
  }
}
