
const { messageLambda } = new EmailsCdkConstruct(
   this,
   // CME = CustomMessageEmails
   `${envName}-CME`,
   { envName }
);

this.userPool.addTrigger(
   cognito.UserPoolOperation.CUSTOM_MESSAGE,
   messageLambda
);
