export const MIN_EMAIL_LENGTH = 10;
export const MAX_EMAIL_LENGTH = 80;

export const MIN_PASSWORD_LENGTH = 10;
export const MAX_PASSWORD_LENGTH = 80;

export const GENERAL_ERROR_MESSAGE = "Oops... Something went wrong";