import { test } from "@playwright/test";

test.describe("Initial test suite example", () => {
  let pw: GlobalMethods;

  test.beforeAll(async ({ browser }) => {
    const page = await browser.newPage();
    pw = new GlobalMethods(page);

    await pw.visit("/sign-in");
  });
});
