export enum Paths {
  BASE = "/",
  <% if (isAuth) { %> SIGN_IN_PATH = "/sign-in",
  SIGN_UP_PATH = "/sign-up",
  VERIFY_EMAIL_PATH = "/verify-email",
  FORGOT_PASSWORD_PATH = "/forgot-password",
  RESET_PASSWORD_PATH = "/create-new-password",<% } %>
}