export enum Paths {
  BASE = "/",
  <% if (isAuth) { %> SIGN_IN_PATH = "/sign-in",
  SIGN_UP_PATH = "/sign-up",
  SIGN_UP_PATH_SUCCESS = "/sign-up/success",
  CONFIRM_SIGN_UP = "/confirm-signup",
  FORGOT_PASSWORD_PATH = "/forgot-password",
  RESET_PASSWORD_PATH = "/create-new-password",<% } %>
}