import React from "react";
import {
  TextField as MuiTextField,
  StandardTextFieldProps,
} from "@mui/material";

export const TextField = (props: StandardTextFieldProps): React.VFC => (
  <MuiTextField
    margin="normal"
    fullWidth
    color="primary"
    variant="outlined"
    {...props}
  />
);
