import { string } from "yup";
import StringSchema from "yup/lib/string";

import { MIN_PASSWORD_LENGTH, MAX_PASSWORD_LENGTH } from "../../consts";

export const passwordValidation = (): StringSchema<
  string | undefined,
  Record<string, unknown>,
  string | undefined
> =>
  string()
    .required("Is required field")
    .matches(/[a-z]/, "Password should contain lower case letters")
    .matches(/[A-Z]/, "Password should contain upper case letters")
    .matches(/\d/, "Password should contain digits")
    .min(MIN_PASSWORD_LENGTH, "Password length too short")
    .max(MAX_PASSWORD_LENGTH, "Password length too long");
