import { string } from "yup";
import StringSchema from "yup/lib/string";

import { MAX_STRING_LENGTH, MIN_STRING_LENGTH } from "../../consts";

export const passwordValidation = (): StringSchema<
  string | undefined,
  Record<string, unknown>,
  string | undefined
> =>
  string()
    .required("Is required field")
    .matches(/[a-z]/, "Password should contain lower case letters")
    .matches(/[A-Z]/, "Password should contain upper case letters")
    .matches(/\d/, "Password should contain digits")
    .min(MIN_STRING_LENGTH, "Password length too short")
    .max(MAX_STRING_LENGTH, "Password length too long");
