{user ? (
          <Button
            data-testid="sign-out-button-in-top-app-bar"
            onClick={signOut}
            color="inherit"
          >
            Sign out
          </Button>
        ) : (
          <Button
            data-testid="sign-in-button-in-top-app-bar"
            component={NavLink}
            to={Paths.SIGN_IN_PATH}
            color="inherit"
          >
            Sign in
          </Button>
        )}
