import { makeStyles } from "@mui/styles";

const useStyles = makeStyles({
  buttonProgress: {
    position: "absolute",
    top: "50%",
    left: "50%",
    marginTop: -10,
    marginLeft: -10,
  },
});

export default useStyles;
