import React from "react";

import { Routes } from "@routing/Routes";
import { Providers } from "@features/Providers/Providers";

const App: React.VFC = () => (
  <Providers>
    <Routes />
  </Providers>
);

export default App;
