import React from "react";
import { Typography } from "@mui/material";

import { TopAppBar } from "@layouts/TopAppBar/TopAppBar";
import { PageLayout } from "@layouts/PageLayout/PageLayout";

const IndexPage: React.FC = () => (
  <>
    <TopAppBar />
    <PageLayout pb={5}>
      <Typography variant="h1">Index page</Typography>
    </PageLayout>
  </>
);

export default IndexPage;
