import React from "react";

import { BrowserRouter as Router } from "react-router-dom";

import { ThemeProvider } from "@features/ThemeProvider/ThemeProvider";
import { SuspenseProvider } from "@features/SuspenseProvider/SuspenseProvider";

export const Providers: React.FC = ({ children }) => {
  return (
    <ThemeProvider>
        <Router>
          <SuspenseProvider>{children}</SuspenseProvider>
        </Router>
    </ThemeProvider>
  );
};
