import React from "react";
import { BrowserRouter as Router } from "react-router-dom";

import { SuspenseProvider } from "@features/SuspenseProvider/SuspenseProvider";
import { ThemeProvider } from "@features/ThemeProvider/ThemeProvider";

export const Providers: React.FC = ({ children }) => {
  return (
    <ThemeProvider>
        <Router>
          <SuspenseProvider>{children}</SuspenseProvider>
        </Router>
    </ThemeProvider>
  );
};
