// ========================================================================
// API: AppSync
// ========================================================================

new AppSyncCdkConstruct(this, `${envName}-AppSyncApi`, {
  envName,
  userPool,
});