// ========================================================================
// API: AppSync
// ========================================================================

const { graphQlApi } = new AppSyncCdkConstruct(this, `${envName}-AppSyncApi`, {
  envName,
  userPool,
});