// ========================================================================
// API: AppSync
// ========================================================================

new AppSyncCdkConstructTs(this, `${envName}-AppSyncApi`, {
  envName,
  userPool,
});