
// ========================================================================
// Authentication: Amazon Cognito
// ========================================================================

const { cognitoUserPool: userPool } = new CognitoCdkConstruct(this, `${envName}-CognitoUserPool`, {
   envName,
});
