
// ========================================================================
// Authentication: Amazon Cognito
// ========================================================================

new CognitoCdkConstruct(this, `${envName}-CognitoUserPool`, {
   envName,
});
